# Logs
*.log

# Dependency directory
node_modules

build/
android/app/build/
.idea
android/.idea
android/.gradle
example/
android/build
android/gradle
android/gradlew
android/gradlew.bat
android/*.iml
android/local.properties
